<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  {{#each data}}
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container" >
      <div class="d-flex justify-content-between align-items-center mt-2 " >
        <h2 class="product-title">{{this.productname}}</h2>
      </div>
    </div>
  </section>
  <!-- End Breadcrumbs -->

  <!-- ======= Portfolio Details Section ======= -->
  <section id="portfolio-details" class="portfolio-details" >
    <div class="container" >
      <div class="row ">
        <a class="btn btn-outline-secondary mt-2 mb-5" href="/products" role="button">其他特賣</a>
        <div class="col-lg-8 text-center ">
          <img src="{{this.img}}" width="700" height="700" alt="" />
        </div>
        <div class="col-lg-4 mt-5">
          <div class="portfolio-info" >
            <h3>商品特色</h3>
            <ul>
              <li><strong>★</strong> {{this.featureone}}</li>
              <li><strong>★</strong> {{this.featuretwo}}</li>
              <li><strong>★</strong> {{this.featurethree}}</li>
              <div class="last mt-3 mb-2"><b>倒數：</b><span id="stock">{{this.quantity}}</span><small> 組</small></div>
            </ul>
          </div>

          <div class="portfolio-description mt-3">
            <span class="text-right">
                <div class="mb-3">
                  <b>售價：</b>
                  <span class="js_price txt_origin" style="display: inline"><b>TWD $<span
                        class="line_through js_price_span">{{this.originprice}}</span></b></span>
                </div>
                <div class="mb-5">
                  <b>搶購價：</b>
                  <h2 class="js_onsale_price txt_sale" style="display: inline">
                    <b><span class="currency_sign">TWD $</span><span class="js_onsale_price_span">{{this.sellprice}}</span></b>
                  </h2>
                </div>
            </span>

            <form action="/products/{{this.id}}?_method=PUT" method="POST">
                <b>數量: </b>
                <select name="count" id="countId">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                </select>
                <div>
                  <button type="submit" class="btn btn-outline-danger mt-5">搶購</button>
                </div>  
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  {{/each}}
  <!-- End Portfolio Details Section -->

</main>
<!-- End #main -->


<!-- Vendor JS Files -->
<script src="/static/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/static/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/static/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/static/js/main.js"></script>
