<main id="main">

  <!-- ======= Featured Services Section ======= -->
  <section id="products" class="products">
    <div class="container">
      <div class="row">
        {{#each data}}
        <div class="col-lg-4 col-md-6">
          <div class="icon-box mb-3">
            <h4 class="title text-center mt-5 mb-3"><a href=""><b>{{ this.productname }}</b></a></h4>
            <p class="description">
              {{this.description}}
               
                <ul>
                  <li>{{this.featureone}}</li>
                  <li>{{this.featuretwo}}</li>
                  <li>{{this.featurethree}}</li>
                </ul>
                
            </p>

            <img src="{{ this.img }}" width="400" height="400" alt="coffee-machine" />
          </div>
          <span class="text-right">
            <sub class="js_price txt_origin" style="display: inline"><b>TWD $<span
                  class="line_through js_price_span">{{ this.originprice }}</span></b></sub>
            <h2 class="js_onsale_price txt_sale">
              <b><span class="currency_sign">TWD $</span><span class="js_onsale_price_span">{{ this.sellprice }}</span></b>
            </h2>
          </span>
          <div class="last">倒數：<span id="gdsStock_1">{{ this.quantity }}</span><small> 組</small></div>
          <a class="btn btn-outline-info mt-2" href="#" role="button">立即搶</a>
        </div>
        {{/each}}
      </div>
    </div>
  </section>
  <!-- End Featured Services Section -->
</main>